<div class="banner center-form" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(220,96,45,0.3)), url(https://images.unsplash.com/photo-1586985289688-ca3cf47d3e6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <br>
  <br>
    <div class="log-form col-xs-12 col-md-4">
    <h2>Criar minha conta</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= button_tag(type: 'submit', class: "btn-outline") do %>
             Criar uma conta
      <% end %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <br>
</div>
