<div class="row">
  <% @cakes.each do |cake| %>
    <div class="col-xs-12 col-md-4">
      <div class="card-cake" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dzxrdf9za/image/upload/v1597530836/<%=cake.photo.key%>.png');">
        <%= link_to("", cake_path(cake.id), class:"card-link")  %>
         <div>
          <h2 class="text-center"><%= cake.name %> </h2>
          <p><%= cake.price %></p>
          <% if current_user.admin? %>
            <p>
              <%= cake.on_the_menu == true ?  "No cardápio" : "Não está visivel no cardápio" %>
            </p>
          <% end %>


        </div>
      </div>
    </div>
  <% end %>
</div>
