<div class="log-form col-xs-12 col-md-4">
  <% if current_page?(controller: 'ingredients', action: 'new')  %>
    <h2>Adicionar um ingrediente</h2>
  <% else %>
    <h2>Editar o ingrediente <%= @ingredient.name%></h2>
  <% end %>


    <%= simple_form_for [@ingredient]  do |f| %>
      <%= f.input :name, label: 'Nome:'%>
      <%= f.input :price, label: "Preço:" %>
      <%= f.input :ingredient_category_id, collection: @ingredient_categories, label_method: :name, label: "Categoria:" %>

      <%= f.submit "Validar este ingrediente", class: "btn btn-lg btn-primary btn-chocolate-color col-xs-9 col-md-12" %>
    <% end %>
</div>
