<div class="log-form col-xs-12 col-md-4">
  <% if current_page?(controller: 'standard_cakes', action: 'new')  %>
    <h2>Adicionar um bolo no cardapio</h2>
  <% else %>
    <h2>Editar o bolo <%= @standard_cake.name%></h2>
  <% end %>


    <%= simple_form_for [@standard_cake]  do |f| %>
      <%= f.input :name, label: 'Nome:'%>
      <%= f.input :price, label: "Preço:" %>
      <%= f.input :image_url, label: "Foto:" %>

      <%= f.submit "Validar o bolo", class: "btn btn-lg btn-primary blue-nav col-xs-9 col-md-12" %>
    <% end %>

</div>
