<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
            <li class="nav-item">
            <%= link_to "Ingredientes", ingredients_path, class: "nav-link font-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Bolos", standard_cakes_path, class: "nav-link font-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Ver os pedidos", "#", class: "nav-link font-white" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Meus pedidos", "#", class: "nav-link font-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link font-white" %>
          </li>
        <% end %>
        <li class="nav-item">
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link font-white" %>
        </li>
      <% else %>
         <li class="nav-item">
            <%= link_to "Ver o cardapio", standard_cakes_path, class: "nav-link font-white" %>
          </li>
         <li class="nav-item">
            <%= link_to "Montar o meu bolo", new_customized_cake_path, class: "nav-link font-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link font-white" %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
