<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519340333755-56e9c1d04579?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container-home">
    <div class="col-xs-9 col-md-4">
      <h1>La' Docura</h1>
      <p>Confeitos artesanais</p>

      <% if user_signed_in? %>
        <% if current_user.admin? %>
         <div>
          <div class="button-box">
            <%= link_to("Meus bolos", cakes_path, class: "btn-outline") %>
          </div >
          <div class="button-box">
            <%= link_to("Meus pedidos", "#", class:"btn-outline")  %>
          </div>
          <div class="button-box">
          <%= link_to("Meus ingredientes", ingredients_path, class:"btn-outline")  %>
          </div>
        </div>
        <% else %>
          <div>
            <div class="button-box">
              <%= link_to("Ver o cardapio", cakes_path, class:"btn-outline")  %>
            </div >
            <div class="button-box">
              <%= link_to("Montar o meu bolo", new_cake_path, class:"btn-outline")  %>
            </div>
          </div>
        <% end %>

      <% else %>
        <div>
          <div class="button-box">
            <%= link_to("Ver o cardapio", cakes_path, class:"btn-outline")  %>
          </div >
          <div class="button-box">
            <%= link_to("Montar o meu bolo", new_cake_path, class:"btn-outline")  %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
